<%-include('./inc/site-head')%> 

<%-include('./inc/site-navbar-academy')%> 

<section>
    <h1>Akademi Anasayfa</h1>
    <a href="/akademi/ogretmenekle">Öğretmen Ekle</a>
    <ul>
        <% teachers.forEach(teacher => { %> 
            <li>
                <a href=""><%= teacher.teacherName %> </a>
                <p>Öğretmen ID :  <%= teacher._id %> </p>
            </li>
        <% }) %> 
    </ul>

    <a href="/akademi/ogrenciekle">Öğrenci Ekle</a>
    <ul>
        <% students.forEach(student => { %> 
            <li>
                <a href="/akademi/ogrencibilgi/<%= student._id %> "><%= student.studentName %> </a>
                <p>Öğrenci ID :  <%= student._id %> </p>
            </li>
        <% }) %> 
    </ul>
</section>



<%-include('./inc/site-footer')%> 