<%-include('../inc/site-head')%> 
<%-include('../inc/site-navbar-student')%> 


<% gameLesson.forEach(lesson => { %>
    <div class="d-flex justify-content-center text-center" style="margin-top: 30px;">
        <a href="/ogrenci/<%= studentID %>/pekistirmesonrasianket" class="btn btn-primary">Pekiştirme Sonrası Test Anketi</a>
    </div>
    <div class="d-flex justify-content-center text-center" style="margin-top: 30px;">
        <div>
            <div class="card text-white  bg-success mb-3 " style="width: 35rem; margin-top: 10px;">
                <div class="card-header"><b><%= lesson.gameTitle %></b></div>
                <div class="card-body">
                    <p class="card-text"><%= lesson.gameDescription %> </p>
                </div>
                <% var counter = 1 %> 
                <% lesson.scores.forEach((score, index) => { %>
                    <% if (score.studentID == studentID) { %>
                        <div class="card-footer">
                            <p class="card-text"><%= counter %>. Denemeniz: <br> 
                                Kontrol sayısı: <%= score.check %> <br>
                                Bitirme süresi: <%= score.minute %> dakika <%= score.second %> saniye    </p>
                        </div>
                    <% counter++ } %>
                <% }) %>
            </div>
        </div>
        <div>
            <% lesson.scores.forEach(score => { %>
                <% if (score.studentID != studentID) { %>
                    <div class="card bg-warning" style="margin-left: 25px; margin-top: 10px;">
                        <div class="card-header">
                            <p class="card-text">Arkadaşının Skoru</p>
                        </div>
                        <div class="body">
                            <p class="card-text">
                                Kontrol sayısı: <%= score.check %> <br>
                                Bitirme süresi: <%= score.minute %> dakika <%= score.second %> saniye    </p>
                        </div>
                    </div>
                <% } %>
            <% }) %>
        </div>
        
    </div>
    
<% }) %>

<%-include('../inc/site-footer')%> 