<%-include('../inc/site-head')%> 

<%-include('../inc/site-navbar-student')%> 


<h1>Student Page</h1>
<a href="/ogrenci/<%= studentID %>/test">test</a>
<a href="/ogrenci/<%= studentID %>/suruklebirakliste">Liste</a>

<%-include('../inc/site-footer')%> 