<%-include('../inc/site-head')%> 

<%-include('../inc/site-navbar-student')%> 


<div class="text-center">

    <h1 class="justify-content-center"><%= videoLesson.lessonTitle %></h1>
    <h4 class="justify-content-center"><%= videoLesson.lessonDescription %></h4>

    <iframe class="justify-content-center" width="1080" height="607.5" src="https://www.youtube.com/embed/<%= videoLesson.lessonVideoURL %>"
    title="YouTube video player" frameborder="0" 
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>



<%-include('../inc/site-footer')%> 