<%-include('../inc/site-head')%> 

<%-include('../inc/site-navbar-student')%> 

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="mb-1"><%= lesson.lessonTitle %> </h1>
            <div class="text-muted">
                <%= lesson.createdAt.toLocaleDateString() %> 
            </div>
            <a href="/ogrenci/<%= studentID %>/dersicerikleri" class="btn btn-secondary">Diğer Dersler</a>
        </div>
        <div class="card-body" style="min-height: 400px;">
            <%- lesson.sanitizedHtml %> 
        </div>
    </div>
    
</div>


<%-include('../inc/site-footer')%> 
