<%-include('../inc/site-head')%> 

<%-include('../inc/site-navbar-student')%> 


<section class="hero">
    <div class="conteiner">
        <div class="row">
          <div class="col-8">
            <% tests.forEach(test => { %> 
              <div class="card mb-3 lesson-card" >
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="/img/test_img.jpg" class="img-fluid rounded-start lesson-card-img" alt="/img/e-learning-bg.jpg">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title"><%= test.testTitle %> </h5>
                        <p class="card-text"><%= test.testDescription %> </p>
                      </div>
                      <div class="card-footer text-end  mt-auto">
                        <div class="row">
                          <div class="col-3">
                            <p class="card-text text-start"><small class="text-muted"><%= test.createdAt.toLocaleDateString() %> </small></p>
                          </div>
                          <div class="col">
                             <a href="/ogrenci/<%= student._id %>/<%= test._id %>/test" class="btn btn-success">Devamını Oku</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                       
              <% }) %> 
                  
          </div>
    </div>
</section>



<%-include('../inc/site-footer')%> 