<%-include('../inc/site-head')%> 

<%-include('../inc/site-navbar-student')%> 

<section class="hero">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 30px;">
            <div class="col">
                <div class="card text-dark bg-success mb-3" >
                    <div class="card-header">Ders Sonrası Test Anketi</div>
                    <div class="card-body">
                      <p class="card-text">Dersler sekmesinden işlediğiniz ders sonrasında girmeniz gereken anket testidir. Aldığınız puan bir şey etkilemez.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/ogrenci/<%= studentID %>/derssonrasianket" class="btn btn-info">Ankete git</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-success mb-3" >
                    <div class="card-header">Pekiştirme Sonrası Test Anketi</div>
                    <div class="card-body">
                      <p class="card-text">Seçildiğiniz pekiştirme yönteminin sekmesinden yaptığınız pekiştirme sonrasında girmeniz gereken anket testidir. Aldığınız puan bir şey etkilemez.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/ogrenci/<%= studentID %>/pekistirmesonrasianket" class="btn btn-info">Ankete git</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-dark bg-success mb-3" >
                    <div class="card-header">Eğitim Sonrası Memnuniyet Anketi</div>
                    <div class="card-body">
                      <p class="card-text">Eğitim sonunda derecelendirme anketidir. Ders ve pekiştirme sonrasında katılınız.  Katılımlarınız için teşekkür ederim.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/ogrenci/<%= studentID %>/egitimsonrasianket" class="btn btn-info">Ankete git</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <% lessons.forEach(lesson => { %>
                <div class="col">
                    <div class="card h-100">
                        <img src="/img/lesson_img.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= lesson.lessonTitle %>  </h5>
                            <p class="card-text"><%= lesson.lessonDescription %> </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><%= lesson.createdAt.toLocaleDateString() %> </small>
                        </div>
                    </div>
                </div>
            <% }) %>
            <% tests.forEach(test => { %>
                <div class="col">
                    <div class="card h-100">
                        <img src="/img/test_img.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= test.testTitle %>  </h5>
                            <p class="card-text"><%= test.testDescription %> </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><%= test.createdAt.toLocaleDateString() %> </small>
                        </div>
                    </div>
                </div>
            <% }) %>
            <% videos.forEach(lesson => { %>
                <div class="col">
                    <div class="card h-100">
                        <img src="/img/video_img.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= lesson.lessonTitle %>  </h5>
                            <p class="card-text"><%= lesson.lessonDescription %> </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><%= lesson.createdAt.toLocaleDateString() %> </small>
                        </div>
                    </div>
                </div>
            <% }) %>
            <% games.forEach(game => { %>
                <div class="col">
                    <div class="card h-100">
                        <img src="/img/e-learning-bg.jpg" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= game.gameTitle %>  </h5>
                            <p class="card-text"><%= game.gameDescription %> </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><%= game.createdAt.toLocaleDateString() %> </small>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>

<%-include('../inc/site-footer')%> 