<%-include('../inc/site-head-draganddroplist')%> 
<%-include('../inc/site-navbar-student')%> 

<section>
<h1><%= game.gameTitle %> </h1>
<p><%= game.gameDescription %> </p>

<p id="stopwatch" style="font-size: 40px; color: rgb(187, 9, 45);">0 : 0</p>

<ul class="draggable-list" id="draggable-list"></ul>
<button class="check-btn" id="check">
    Gönder
    <i class="fas fa-paper-plane"></i>
</button>

</section>


<script>


var second = 0
var minute = 0
var sec = 0
function stopwatch() {
    var min = Math.floor(second/60)
    var hour = Math.floor(second/3600)
    minute = min%60
    sec = second%60
    document.getElementById("stopwatch").innerHTML = minute+" : "+sec
    second++
}

setInterval("stopwatch()", 1000)

const draggable_list = document.getElementById('draggable-list')
const check = document.getElementById('check')

const lessonContents = ['<%= game.gameContent[0] %>',
'<%= game.gameContent[1] %>',
'<%= game.gameContent[2] %>',    
'<%= game.gameContent[3] %>',
'<%= game.gameContent[4] %>',
'<%= game.gameContent[5] %>',
'<%= game.gameContent[6] %>',
'<%= game.gameContent[7] %>',
'<%= game.gameContent[8] %>',
'<%= game.gameContent[9] %>']


//Store list items
const listItems = []

let dragStartIndex = 0

createList()

//Insert list items into DOM
function createList() {
    [...lessonContents]
        .map(a => ({ value: a, sort: Math.random() }))
        .sort((a, b) => a.sort - b.sort)
        .map(a => a.value)
        .forEach((content, index) => {
            const listItem = document.createElement('li')

            listItem.setAttribute('data-index', index)

            listItem.innerHTML = `
            <span class="number">${index + 1}</span>
            <div class="draggable" draggable="true">
                <p class="content-name">${content}</p>
                <i class="fas fa-grip-lines"></i>
            </div>
            `

            listItems.push(listItem)

            draggable_list.appendChild(listItem)
        })

        addEventListeners()
}

function dragStart() {
    dragStartIndex = +this.closest('li').getAttribute('data-index')
    console.log(dragStartIndex);
}

function dragOver(e) {
    e.preventDefault()
}

function dragEnter() {
    this.classList.add('over')
}

function dragLeave() {
    this.classList.remove('over')
}

function dragDrop() {
    const dragEndIndex = +this.getAttribute('data-index')
    console.log(dragEndIndex);
    swapItems(dragStartIndex, dragEndIndex) 

    this.classList.remove('over')
}

// Swap list items that are drag and drop
function swapItems(formIndex, toIndex) {
    const itemOne = listItems[formIndex].querySelector('.draggable')
    const itemTwo = listItems[toIndex].querySelector('.draggable')

    listItems[toIndex].appendChild(itemOne)
    listItems[formIndex].appendChild(itemTwo)
}

var checkControl = 0
// Check the order of list items 
async function checkOrder(params) {
    var rightItems = 0
    var wrongItems = 0
    checkControl++
    await listItems.forEach((listItem, index) => {
        const contentName = listItem.querySelector('.draggable')
        .innerText.trim()

        if(contentName !== lessonContents[index]) {
            listItem.classList.add('wrong')
            wrongItems++
        } else {
            listItem.classList.remove('wrong')
            listItem.classList.add('right')
            rightItems++
        }
        
    })
    const data = {
            right: rightItems,
            wrong: wrongItems,
            check: checkControl,
            min: minute,
            sec: sec
            
        }
        
    await fetch(window.location.href,{
        method: 'POST',
        headers: {
            'Accept': "application/json",
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => console.log(response))
    .catch(err => console.log(err))
    console.log("fetch ok")
    if (rightItems == 10) {
        window.location.href = "./oyunskoru"
    }

}
    

function addEventListeners() {
    const draggables = document.querySelectorAll('.draggable')
    const dragListItem = document.querySelectorAll('.draggable-list li')

    draggables.forEach(draggable => {
        draggable.addEventListener('dragstart', dragStart)
    })

    dragListItem.forEach(item => {
        item.addEventListener('dragover', dragOver)
        item.addEventListener('drop', dragDrop)
        item.addEventListener('dragenter', dragEnter)
        item.addEventListener('dragleave', dragLeave)
    })
}

check.addEventListener('click', checkOrder)
</script>

<%-include('../inc/site-footer')%> 