<%-include('../inc/site-head')%> 

<%-include('../inc/site-navbar-academy')%> 

<section>


    <div class="d-flex justify-content-center" style="margin-top: 50px;">
        <ul class="list-group " style="width: 40%;">
            <a class="list-group-item list-group-item-action list-group-item-danger" href="/akademi/<%= academyID %>/ogretmenekle">Öğretmen Ekle</a>
            <% teachers.forEach(teacher => { %> 
                <a href="#" class="list-group-item list-group-item-action list-group-item-success"><%= teacher.teacherName %> </a>
                <li class="list-group-item list-group-item-">Öğretmen ID :  <%= teacher._id %> </li>
                <li class="list-group-item list-group-item-">Kayıt Tarihi :  <%= teacher.createdAt.toLocaleDateString() %> </li>
            <% }) %> 
        </ul>
    </div>


    <div class="d-flex justify-content-center" style="margin-top: 50px;">
        <ul class="list-group" style="width: 40%;">
            <a class="list-group-item list-group-item-action list-group-item-danger" href="/akademi/<%= academyID %>/ogrenciekle">Öğrenci Ekle</a>
            <% students.forEach(student => { %> 
                <a class="list-group-item list-group-item-action list-group-item-success" href="/akademi/<%= academyID %>/ogrencibilgi/<%= student._id %> "><%= student.studentName %> </a>
                <li class="list-group-item list-group-item-">Öğrenci ID :  <%= student._id %> </li>
                <li class="list-group-item list-group-item-">Kayıt Tarihi :  <%= student.createdAt.toLocaleDateString() %> </li>
            <% }) %> 
        </ul>
    </div>
    
</section>



<%-include('../inc/site-footer')%> 