<%-include('../inc/site-head')%> 

<%-include('../inc/site-navbar-academy')%> 

<section>
    <h3>Öğretmenler</h1>
    <a href="/akademi/ogretmenekle">Öğretmen Ekle</a>
    <ul>
        <% teachers.forEach(teacher => { %> 
            <li>
                <a href=""><%= teacher.teacherName %> </a>
                <p>Öğretmen ID :  <%= teacher._id %> </p>
            </li>
        <% }) %> 
    </ul>
</section>




<%-include('../inc/site-footer')%> 